<form action="/product/create" method="POST" class="form-signin" enctype="multipart/form-data">
	
	<h2 class="form-signin-heading">Create a Product</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
		<% Object.keys(flash.err).forEach(function(error) { %>
			<li> <%- JSON.stringify(flash.err[error]) %> </li>
		<% }) %>
		</ul>
	<% } %>

	<input type="text" class="form-control" placeholder="Product Name" name="prod_name">
	
	<input type="text" class="form-control" placeholder="Product Description" name="prod_desc">

	<input type="text" class="form-control" placeholder="Base Price" name="prod_base_price">

	<input type="file"  class="form-control" placeholder="Choose image file" name="prod_image"/>
	<input value="<%= session.User.id %>" name="createdBy" type="hidden" class="form-control"/>

	<select>
		<option>Shop One</option>
		<option>Shop Two</option>
	</select>
	<br/>
	<br/>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Add New Product"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>