<div class="container">
    <div class="jumbotron">
        <h1>Respect Social Networking</h1>

        <h2>Connecting People for Mutual Benifit</h2>
        <a href="user/new" class="btn btn-lg btn-success">Sign Up Now !!</a>
    </div>
    


</div>

