<form action="/file/uploadFiles" class="dropzone" >
  <div class="fallback">
    <input name="displayImage" id="displayImage" type="file" multiple />
  </div>

    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
